# Django
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=portfolio_db
DB_USER=portfolio_user
DB_PASSWORD=portfolio_password
DB_HOST=db
DB_PORT=5432

# Media Storage (Cloudinary - Phase 3)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SITE_URL=http://localhost:8000