aws_region         = "ap-south-1"
project_name       = "portfolio-cms"
vpc_cidr           = "10.0.0.0/16"
availability_zone  = "ap-south-1a"
instance_type      = "t3.micro"
key_name           = "portfolio-cms-key"
media_bucket_name  = "portfolio-cms-media-YOUR_NAME"
dockerhub_username = "YOUR_DOCKERHUB_USERNAME"
docker_image       = "YOUR_DOCKERHUB_USERNAME/portfolio-cms"
domain_name        = ""